#myWrapper {
    border: 4px solid rgb(174, 174, 205);
    padding: 5px;
    width: 50%;
    margin: 10px auto;
}

td,
th {
    padding: 3px;
}

input {
    margin: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

tr:nth-child(even) {
    background-color: rgb(187, 158, 187);
}

tr:nth-child(odd) {
    background-color: rgb(208, 197, 235);
}

.R {
    height: 20px;
    width: 150px;
    margin: 10px;
}

.R:hover {
    background-color: rgb(230, 187, 228);
    color: rgb(0, 0, 0);
}